examples/Scan for Devices.json
[
    {
        "id": "f2c95db5.ba59a",
        "type": "tab",
        "label": "Scanning",
        "disabled": false,
        "info": "Examples of how to scan for devices"
    },
    {
        "id": "20da5f4.d5914a",
        "type": "inject",
        "z": "f2c95db5.ba59a",
        "name": "Start default",
        "topic": "start",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "af721577.3f15a8"
            ]
        ]
    },
    {
        "id": "8e056f98.addba",
        "type": "inject",
        "z": "f2c95db5.ba59a",
        "name": "Stop scanning",
        "topic": "stop",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "af721577.3f15a8"
            ]
        ]
    },
    {
        "id": "af721577.3f15a8",
        "type": "BLE scanner",
        "z": "f2c95db5.ba59a",
        "name": "",
        "x": 750,
        "y": 120,
        "wires": [
            [
                "42ae905e.56913"
            ]
        ]
    },
    {
        "id": "42ae905e.56913",
        "type": "debug",
        "z": "f2c95db5.ba59a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 910,
        "y": 120,
        "wires": []
    },
    {
        "id": "106c5f82.24f6",
        "type": "change",
        "z": "f2c95db5.ba59a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "continuous",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 40,
        "wires": [
            [
                "af721577.3f15a8"
            ]
        ]
    },
    {
        "id": "3d30f298.889bce",
        "type": "inject",
        "z": "f2c95db5.ba59a",
        "name": "Start continuous",
        "topic": "start",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 40,
        "wires": [
            [
                "106c5f82.24f6"
            ]
        ]
    },
    {
        "id": "77f29587.09da2c",
        "type": "change",
        "z": "f2c95db5.ba59a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "continuous",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "timeout",
                "pt": "msg",
                "to": "10000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 80,
        "wires": [
            [
                "af721577.3f15a8"
            ]
        ]
    },
    {
        "id": "efc68fcf.12552",
        "type": "inject",
        "z": "f2c95db5.ba59a",
        "name": "Scan continuously for 10 secs",
        "topic": "start",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "77f29587.09da2c"
            ]
        ]
    }
]
